;.editorconfig

root = true

[**.js?]
; path to optional external js beautifier, default is vim-jsbeautify/plugin/lib
;path=~/.vim/bundle/vim-jsbeautify/js/lib/beautify.js
; Javascript interpreter to be invoked by default 'node'
bin=node
indent_style = space
indent_size = 2

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

